{% extends 'graph/base.html' %}

{% load static %}

{% block content %}

<div class="header">
    <a href="{% url 'main:index' %}" class="name">Pro Graph</a>
    <a href="{% url 'graph:concrete_graph' graph.id %}" class="share_link">GraphID - {{ graph.id }} (Share link. Work with graph together!)</a>
</div>

{% if error_message %}<p class="error"><mark class="red"><strong>{{ error_message }}</strong>1</mark>{% endif %}
<p>
<div class="content">
    <div class="control-panel">
        <div class="change-graph">
            <form action="{% url 'graph:add_vertex' graph.id %}" method="post">
                {% csrf_token %}
                <p>Add new vertex:</p>
                <input name="vertex_name" type="text" placeholder="Vertex name">
                <input type="submit" value="Add">
            </form>

            <form action="{% url 'graph:add_edge' graph.id %}" method="post">
                {% csrf_token %}
                <p>Add new edge:</p>
                <input name="edge_name" type="text" placeholder="a b 5 or a b" title="write the names of 2 vertices separated by space, add weight if you would like">
                <input type="submit" value="Add">
            </form>

            <form action="{% url 'graph:delete_vertex' graph.id %}" method="post">
                {% csrf_token %}
                <p>Delete vertex:</p>
                <input name="vertex_name" type="text" placeholder="Vertex name">
                <input type="submit" value="Delete">
            </form>

            <form action="{% url 'graph:delete_edge' graph.id %}" method="post">
                {% csrf_token %}
                <p>Delete edge:</p>
                <input name="edge_name" type="text" placeholder="a b or a b 5" title="write the names of 2 vertices separated by space, add weight if you would like">
                <input type="submit" value="Delete">
            </form>
        </div>

        <div class="algorithms">
            <div class="DFS">
                <p>DFS:</p>
                {% if algo != 'dfs' %}
                    <form action="{% url 'graph:complete_dfs' graph.id %}" method="post">
                        {% csrf_token %}
                        <input name="start_vertex" type="text" placeholder="From">
                        <input type="submit" value="Start">
                    </form>
                {% elif not algo_finished %}
                    <form action="{% url 'graph:next_step_dfs' graph.id algo_iteration %}" method="post">
                        {% csrf_token %}
                        <p>Iteration #{{ algo_iteration }} from vertex {{ start_vertex }}.</p>
                        <input type="submit" value="Continue">
                    </form>
                {% else %}
                    <form action="{% url 'graph:concrete_graph' graph.id %}" method="post">
                        {% csrf_token %}
                        <p>DFS from vertex {{ start_vertex }} finished.</p>
                        <input type="submit" value="Erase">
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="BFS">
                <p>BFS:</p>
                {% if algo != 'bfs' %}
                    <form action="{% url 'graph:complete_bfs' graph.id %}" method="post">
                        {% csrf_token %}
                        <input name="start_vertex" type="text" placeholder="From">
                        <input type="submit" value="Start">
                    </form>
                {% elif not algo_finished %}
                    <form action="{% url 'graph:next_step_bfs' graph.id algo_iteration %}" method="post">
                        {% csrf_token %}
                        <p>Iteration #{{ algo_iteration }} from vertex {{ start_vertex }}.</p>
                        <input type="submit" value="Continue">
                    </form>
                {% else %}
                    <form action="{% url 'graph:concrete_graph' graph.id %}" method="post">
                        {% csrf_token %}
                        <p>BFS from vertex {{ start_vertex }} finished.</p>
                        <input type="submit" value="Erase">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="graph_illustration">
        <img src="data:image/png;base64,{{ graph_img|safe }}" alt="Graph" style="width:100%">
    </div>
</div>
</p>
{% endblock content %}