<h1>Graph {{ graph.id }}</h1>
<p><a href="{% url 'concrete_graph' graph.id %}">Share link. Work with graph together!</a></p>
{{ graph }}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'add_vertex' graph.id %}" method="post">
{% csrf_token %}
  <p>Add new vertex:</p>
  <input name="vertex_name" type="text" placeholder="Vertex name">
  <input type="submit" value="Add">
</form>

<form action="{% url 'add_edge' graph.id %}" method="post">
{% csrf_token %}
  <p>Add new edge:</p>
  <p>write the names of 2 vertexes separated by space, add weight if you would like</p>
  <input name="edge_name" type="text" placeholder="a b 5 or a b">
  <input type="submit" value="Add">
</form>

<form action="{% url 'delete_vertex' graph.id %}" method="post">
{% csrf_token %}
  <p>Delete vertex:</p>
  <input name="vertex_name" type="text" placeholder="Vertex name">
  <input type="submit" value="Delete">
</form>

<form action="{% url 'delete_edge' graph.id %}" method="post">
{% csrf_token %}
  <p>Delete edge:</p>
  <p>write the names of 2 vertexes separated by space, add weight if you would like</p>
  <input name="edge_name" type="text" placeholder="a b or a b 5">
  <input type="submit" value="Delete">
</form>

<div class="control-panel">
    <div class="add_vertex">
        <p>Add new vertex:</p>
        <form class="add_vertex" method="post">
        {% csrf_token %}
            <input name="vertex_name" type="text" placeholder="Vertex name"/>
            <button formaction="add_vertex" type="submit">Add</button>
        </form>
    </div>
</div>

<img src="data:image/png;base64,{{ graph_img|safe }}">
